body{
    background-color: white;
    font-family: Calibr, serif;
    font-size: 30px;
    margin: 0;
    color: #515050;
    padding: 0;
}

h2{
    font-family: Calibri,serif;
    color: black;
}
h4{
    font-family: Calibri,serif;
    color: black;
}
hr{
    color: black;
    margin: 50px 20px;
}
.bd{
    padding: 10px 40px;
}
table{
    border-radius: 10px;
    padding: 2px;
}
th{
    padding: 10px;
    font-family: Calibri, serif;
    font-size: 50px;
    color: black;
    background-color: #e9e9eb;
}
td{
    color: black;
    font-family: Calibri,serif;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    margin-top: 1px;
}
.yandex{
    color: #cc0b41;
    font-weight: bold;
}
.QQ{
    color: #0bb5cc;
    font-weight: bold;
}
.gpt{
    color: #0bcc7f;
    font-weight: bold;
}
.zag4{
    background-color: powderblue;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}